* {
	margin: 0;
	padding: 0;
}


/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 99%;
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

html {
	background-color: white;
}

#nav_menu ul {
	list-style: none;
	position: relative;
	width: 100%;
}

#nav_menu ul li {
	float: left;
	width: 20%;
}

#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

#nav_menu ul a {
	display: block;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu ul a.current {
	color: yellow;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	width: 96.875%;
	padding: 15px 1.5625%;
	background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
	float: left;
	margin-left: 2.5%;
}

header h2 {
	font-size: 170%;
	color: #800000;
	margin-left: 15%;
	margin-bottom: .25em;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	margin-left: 15%;
}

.shadow {
	text-shadow: 1px 1px #800000;
}
/* the styles for the section */
section {
	width: 65.625%;
	padding: 15px 1.5625%;
	float: right;
	clear: left;
}

section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0 auto;
}

section h2 {
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em 0;
}

section p {
	padding-bottom: .5em;
}

section blockquote {
	padding: 0 2em 0 2em;
}

section ul {
	padding: 0 0 .25em 1.25em;
}

section li {
	padding-bottom: .35em;
	list-style-type: circle;
}

article {
	padding: .5em 0 .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}

article img {
	float: right;
	margin: 10px;
	border: 1px solid black;
	width: 40%;
	min-width: 150px;
}

article h2 {
	padding-top: 0;
}

article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside {
	width: 215px;
	float: left;
	padding: 0 0 20px 20px;
	clear: left;
}

aside h2 {
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside img {
	padding-bottom: 1em;
}

a:hover, a:focus {
	font-style: italic;
}

/* the styles for the footer */
footer p {
	text-align: center;
}

footer {
	background-color: #931420;
	color: white;
	clear: both;
	width: 96.875%;
	padding: 15px 1.5625%;
}

/* hide the mobile menu */
#mobile_menu {display: none}

/* media queries */
@media only screen and (max-width: 959px) {
	article h1 {font-size: 135%}
	article h2 {font-size: 120%}
	aside h2 {font-size: 120%}
}

@media only screen and (max-width: 767px) {
	header img {float: none}
	header, footer p {text-align: center}
	section, aside {
		float: none;
		align-content: center;
	}
	footer p {margin-right: 0}
	header h2 {margin: .4em 0 .25em 0}
	header h3 {margin-left: 0}
	section {
		width: 95%;
		margin-right: 2.5%;
		padding-right: 0;
	}
	article img {
		max-width: 30%;
	}
	aside {
		margin: 0 2.5% 2.5% 2.5%;
		width: 90%
	}
	#speakers {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	#nav_menu{display: none}
	#mobile_menu {display: block}
	.slicknav_menu{background-color: #800000 !important}
}

@media only screen and (max-width: 479px) {
	body {font-size: 90%}
}